*{
    margin:0;
    padding:0;
    background:wither;
}
#titulo{
  color:#380B61;   
  margin-left:20%;
  text-transform:uppercase;
  font-weight:350;
}     
#subtitulo{
  font-family:sans-serif;
  color:#380B61;
  margin-left 7%
}
body{
  background-color:#
  font-family:uppercase;
  font-size:#380B61;
  color:#380B61;
  margin-left:2%;
  margin-top:2%;
  justify-content:center;
}
input, selcted, textarea,button{
 border-radius:5px;
}
.campo{
  margin-bottom 1em
}
.campo label{
  margin-bottom;2em;
  color:#FFFFFF
  display:block;
}
fildeset .grupo .campo{
  float:left;
  margin-right:1em;
}
.campo  input["type=text"], .campo input[type="email"], .campo textarea{
  padding:1em;
  border:1px #380B61;
  box-shadow 2px 2px 2px #FFFFFF
  display:block;
}
.campo select options{
  padding-right:1em;
}
.campo input:focus;.campo select:focus; .campo:textarea; {
   background #380601
}#380601
.botao{
  font-size:1.2px
  
  
  
}
botao:haver{
background:#0984e3;
box-shadow:inset 2px 2px 2px rgba(0.0.0.0.5)
text-shadow:none;
  
}
